# secrets
.env
.env.local
.env.*.local

# copyrighted / personal test material - never publish
*.mid
*.midi
*.pdf
*.musicxml

# python
__pycache__/
*.pyc
.venv/
venv/

# streamlit
.streamlit/secrets.toml
